# ktlint configuration
# https://pinterest.github.io/ktlint/

[*.{kt,kts}]
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 120

# Disable some rules
disabled_rules = no-wildcard-imports,import-ordering

